/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
h2 {
    text-align: center;
    margin-top: 20px;
}

p {
    text-align: center;
}
/* Header */
header {
    background-color: navy;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ddd;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 2px;
}

.logo img {
    height: 100px;
    width: 100px;
    margin-right: 1px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.company-name .main-name {
    font-size: 25px; 
    margin: 0; 
}

.company-name .sub-name {
    font-size: 12px; 
    margin: 0;
}

.company-name {
    font-weight: bold;
    color: rgb(9, 65, 204);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.2;
}

.contact-info {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    text-align: right;
}

.contact-info p {
    margin: 0 15px;
    font-size: 14px;
}
.contact-info p a {
    color: white;
}

.social-links a {
    display: inline-block;
    margin-left: 10px;
}

.social-links a:hover {
    text-decoration-color: darkblue;
}

.social-links img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/* Navigation */
nav {
    background-color: whitesmoke;
    padding: 2px;
    margin-top: 20px;
    width: 100%;
    position: fixed;
    z-index: 99;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: black;
    text-decoration: none;
    margin-right: 30px;
    font-size: 16px;
}

nav a:hover {
    color: blue; 
    transition: color 0.3s ease;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Dropdown Button */
.dropbtn {
    color: black;
    padding: 14px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%; 
    box-sizing: border-box; 
    border-bottom: 1px solid grey; 
}

.dropdown-content a:hover {
    background-color: lightgreen;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    width: 180%;
}

/* Main Content Section */
main {
    flex: 1;
    padding-top: 60px; 
}

/* Hero Section */
.hero-section {
    position: relative;
    height: 65vh;
    background-color: #f0f0f0; 
    overflow: hidden;
}

.hero-section .hero-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-section .hero-text {
    position: absolute;
    color: #fff;
    text-align: center;
    padding: 0 20px;
    z-index: 2;
}

.hero-section .hero-text h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Basement section */
.consultancy-content {
    display: block;
    margin: 40px 0;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-content {
    font-family: 'Arial', sans-serif;
    color: #333;
}

.text-content h2 {
    font-size: 28px;
    color: navy;
    margin-bottom: 16px;
    text-align: center;
}

.text-content h3 {
    font-size: 22px;
    color: navy;
    margin-bottom: 10px;
}

.text-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 16px;
    text-align: left;
}

.text-content ul {
    margin-left: 20px;
    list-style-type: disc;
}

.text-content ul li {
    font-size: 16px;
    margin-bottom: 10px;
}

.text-content strong {
    color: rgb(46, 63, 105);
}

@media (max-width: 768px) {
    .consultancy-content {
        flex-direction: column;
    }

    .text-content {
        width: 100%;
    }

    .text-content h2 {
        font-size: 24px;
    }

    .text-content h3 {
        font-size: 20px;
    }

    .text-content p,
    .text-content ul li {
        font-size: 14px;
    }
}

/* Footer */
footer {
    background-color: navy;
    color: black;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    font-size: 0.85em;
}
footer p {
    color: white;
}

/* Hamburger Menu (Initially Hidden) */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 2px 0;
}

/* Media Queries for Smaller Screens */
@media (max-width: 768px) {
    /* Hide nav-links and show hamburger menu */
    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: whitesmoke;
        width: 100%;
        z-index: 1000;
        padding: 10px 0;
    }

    .nav-links.active {
        display: flex;
    }
    nav {
        margin-top: 40px;
    }

    .hamburger {
        display: flex;
        margin-right: 20px; 
    }

    .nav-links li {
        text-align: center;
        width: 100%;
        margin: 10px 0;
    }

    /* Dropdown Content*/
    .dropbtn {
        color: black;
        padding: 14px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        background-color: transparent;
        width: 100%;
    }

    .dropdown-content {
        display: none; 
        position: relative; 
        left: 0; 
        top: 100%; 
        width: 100%; 
        z-index: 1;
    }

    .dropdown-content a {
        padding: 2px 2px;
        font-size: 14px;
        text-align: center;
        border: none;
        width: 100%; 
        display: block;
        font-size: 14px;
        box-sizing: border-box; 
    }

    .dropdown:hover .dropdown-content {
        display: block;
        position: static; 
        background-color: whitesmoke;
        width: 100%; 
        margin-top: 2px;
        box-shadow: none; 
        padding: 0;
    }
    /* Adjust header logo size */
    .logo img {
        height: 80px;
        width: 80px;
    }

    .company-name .main-name {
        font-size: 20px;
    }

    header {
        height: 65px;
    }

    .social-links{
        display: inline-flex;
    }

    .contact-info {
        margin-top: 2px;
        display: block;
    }
}